<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beyondhost.exam.mapper.OrgInfoMapper">
    <select id="getOrgInfoByPoiId" resultType="OrgInfo">
        select * from OrgInfo where PoiId = #{poiId}
    </select>
    <insert id="addOrgInfo" parameterType="OrgInfo">
       INSERT INTO orginfo (PoiId,
                OrgName,
                Longitude,
                Latitude,
                Address,
                CityId,
                Phone,
                RoomCount,
                OpenTime)
                VALUES
            (#{PoiId},
            #{OrgName},
            #{Longitude},
            #{Latitude},
            #{Address},
            #{CityId},
            #{Phone},
            #{RoomCount},
            #{OpenTime})
    </insert>
</mapper>